* {
	font-family: Whitney;
}

#container {
	display: grid;
	grid-template-rows: 30px 50px 1fr;
	grid-template-columns: 72px 240px 1fr;
}

#top-header {
	grid-row: 1 1;
	grid-column: span 3;
	border: 1px solid black;
	background-color: #36393f;
}

#server-sidebar {
	grid-row: 2 -1;
	grid-column: 0 0;
	border: 1px solid black;
	height: 900px;
	background-color: #202225;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#channel-sidebar {
	grid-row: 2 -1;
	border: 1px solid black;
	height: 900px;
	background-color: #2f3136;
}

#message-container {
	grid-row: span 3;
	grid-column: 2 2;
	border: 1px solid black;
	height: 900px;
	background-color: #36393f;
}
