.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 93vh;
}

.message-container {
	display: flex;
	flex-direction: column;
	padding: 10px 0px 10px;
	overflow-y: scroll;
	overflow-wrap: break-word;
	height: 100%;
}

.msg-box {
	color: #ffffff;
	max-width: 1175px;
}

.input-container {
	justify-self: flex-end;
	padding-left: 16px;
	padding-right: 16px;
}

.input-container button {
	background-color: rgba(79, 84, 92, 0.32); /*!DELETE IN FUTURE UPDATE*/
	color: white;
	height: 40px;
	border-radius: 2px;
	outline: 0;
}

.msg-input {
	color: #dcddde;
	background-color: #40444b;

	border-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;

	font-size: 16px;

	box-sizing: border-box;
	height: 44px;
	width: 100%;
	margin-bottom: 10px;

	padding: 10px;

	outline: 0;

	font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

	transition: border-color 0.2s ease-in-out;
}

.msg-input:hover {
	border-color: #040405;
}

.msg-input:focus {
	border-color: #00aff4;
}
