/* TODO Add site wide styles */
* {
	font-family: 'Catamaran', Helvetica, Arial, sans-serif !important;
	/* font-weight: bold !important; */
}

a {
	text-decoration: none !important;
}

a:visited {
	text-decoration: none !important;
	color: white !important;
}
